In [1]:
import pandas as pd

In [4]:
ds1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ds1

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
ds2 = pd.Series([1, 2, 3, 4])
ds2

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
print(ds1['b'], ds1.d)

2 4

In [8]:
ds1[ ['d', 'c'] ]

d    4
c    3
dtype: int64

In [10]:
ds1['c'] = 5
ds1

a    1
b    2
c    5
d    4
dtype: int64

In [12]:
ds1['a'] = 2
ds1

a    2
b    2
c    5
d    4
dtype: int64

In [13]:
ds1['e'] = 6
ds1

a    2
b    2
c    5
d    4
e    6
dtype: int64

In [14]:
ds1.at['f'] = 7
ds1

a    2
b    2
c    5
d    4
e    6
f    7
dtype: int64

In [15]:
ds2

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
ds2.iat[1]

2

In [19]:
cities = pd.Series({'Dnipro': 1000000, 'Kyiv': 3000000, 'Paris': 2300000, 'Berlin': 3800000}) 
cities

Dnipro    1000000
Kyiv      3000000
Paris     2300000
Berlin    3800000
dtype: int64

In [23]:
cities2 = pd.Series({'Dnipro': 1000000, 'Kyiv': 3000000, 'Paris': 2300000, 'Berlin': 3800000}, index=['Dnipro', 'Ottava', 'Paris', 'Milan']) 
cities2

Dnipro    1000000.0
Ottava          NaN
Paris     2300000.0
Milan           NaN
dtype: float64

In [24]:
test = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
test2 = pd.Series([4, 5, 7, 8], index=['a', 'b', 'c', 'd'])

In [25]:
test + test2

a     5.0
b     7.0
c    10.0
d     NaN
dtype: float64

In [26]:
test.add(test2, fill_value=0)

a     5.0
b     7.0
c    10.0
d     8.0
dtype: float64